.contacts_container {
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 80px;
  padding: 0 20px;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
}
.contact-info-heading {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 24px;
  color: #242d39;
}

.contact-info {
  font-size: 22px;
  color: #242d39;
  margin-bottom: 24px;
  font-weight: 300;
  line-height: 1.5;
  max-width: 450px;
}
.contacts_warehouse-map {
  height: 300px;
  margin-bottom: 24px;
}
