/* HeroSection.css */
.hero-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px 0 20px;
  margin-top: 275px;
  line-height: 1.167;
  position: relative;
}

.hero-content {
  max-width: 50%;
}

.hero-content h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 24px;
  color: #242d39;
}
.indicator {
  background:#e31e24;
  width: 60px;
  height: 6px;
  border-radius: 6px;
  position: absolute;
  bottom: 0;
}
.hero-content p {
  font-size: 22px;
  color: #242d39;
  margin-bottom: 24px;
  font-weight: 300;
  line-height: 1.5;
  max-width: 450px;
}

.hero-button {
  background-color: #e31e24;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 14px;
  cursor: pointer;
  height: 64px;
}

.hero-button:hover {
  background-color: #c51b20;
}

.hero-image {
  max-width: 50%;
}

.hero-image img {
  width: 100%;
  height: auto;
}

@media (max-width: 900px) {
  .hero-container {
    flex-direction: column-reverse;
    text-align: center;
    margin-top: 170px;
  }

  .hero-content,
  .hero-image {
    max-width: 100%;
  }

  .hero-content h1 {
    font-size: 3rem;
    text-align: left;
  }
  .hero-content p {
    text-align: left;
  }

  .hero-button {
    font-size: 1.2rem;
    padding: 10px 20px;
    width: 100%;
  }
}
@media (max-width: 500px) {
  .hero-content h1 {
    margin-top: 24px;
    font-size: 2.5rem;
  }
  .hero-content p {
    font-size: 1.5rem;
  }
}
