/* Подключение шрифта для хорошего отображения немецкого текста */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
body {
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}
body {
  min-width: 375px;
  background: #FFF !important;
}
.contaienr {
  max-width: 1200px;
  margin: 0 auto;
}
.warehouse-container {
  display: flex
;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px 0 20px;
  gap: 40px;
  margin-top: 100px;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*--------------------*/

/* Geometria - основные начертания */
@font-face {
  font-family: 'Geometria';
  src: url('./assets/fonts/geometria_light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geometria';
  src: url('./assets/fonts/geometria_medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geometria';
  src: url('./assets/fonts/geometria_bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Italic версии */
@font-face {
  font-family: 'Geometria';
  src: url('./assets/fonts/geometria_lightitalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Geometria';
  src: url('./assets/fonts/geometria_mediumitalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

/* Extra Bold */
@font-face {
  font-family: 'Geometria';
  src: url('./assets/fonts/geometria_extrabold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* Применение шрифта */
body {
  font-family: 'Geometria', 'Helvetica', 'Arial', sans-serif;
}

@font-face {
  font-family: 'Geometria';
  src: url('./assets/fonts/geometria_light.woff2') format('woff2'),
    url('./assets/fonts/geometria_light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
