.services {
  max-width: 1200px;
  padding: 0 20px;
}

.services h2 {
  font-size: 2.5rem;
  color: #333;
  text-align: left;
  font-weight: 500 !important;
  margin-bottom: 80px;
}

.services-container {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.service-item {
  display: flex;
  gap: 20px;
}

.service-icon {
  width: 100px;
  height: 100px;
}

.service-content {
  text-align: left;
}

.service-content h3 {
  font-size: 1.7rem;
  margin-bottom: 10px;
  color: #242d39;
}

.service-content p {
  font-size: 1.2rem;
  color: #242d39;
  max-width: 600px;
  font-weight: 300;
  line-height: 1.5;
}

@media (max-width: 900px) {
  .services-container {
    flex-direction: column;
  }

  .service-item {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 500px) {
  .services {
    margin: 40px auto 0 auto !important;
  }
  .services h1 {
    margin-bottom: 40px !important;
  }
  .services h2 {
    margin-bottom: 50px !important;
  }
  .service {
    min-height: 200px !important;
  }
  .service-item {
    min-height: auto !important;
  }
}
